sudo: false

env:
  global:
    - GOPATH=~/gopath
    - PATH=${GOPATH}/bin:$PATH
    - NODE_VERSION="10.13.0"
    - RUBY_VERSION=2.1.1
    - GO111MODULE=on
    - DOCKER_OWNER=counterflow-ai
    - DOCKER_IMAGE_NAME=evebox
    - DOCKER_REPO=${DOCKER_OWNER}/${DOCKER_IMAGE_NAME} 

matrix:
  allow_failures:
    - os: osx
  include:
  - os: linux
    addons:
      apt:
        packages:
          - rpm
          - gcc-mingw-w64
    language: go
    go: "1.11"
    services: docker
  - os: osx
    osx_image: xcode8.3
    language: go
    go: "1.11"

before_install:
- nvm install ${NODE_VERSION}
- nvm use ${NODE_VERSION}

script:
- |
  make install-deps || exit 1
  make dist || exit 1

  # On Linux, make a Windows release as well.
  if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then
    GOOS=windows CC=x86_64-w64-mingw32-gcc make dist || exit 1
  fi

  # Copy just what we want to deploy to S3 into a deploy directory, as
  # the S3 deployment step will copy everything in the directory
  # pointed at.
  mkdir -p deploy
  cp dist/*.zip deploy/

  if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then
    rvm install $RUBY_VERSION
    rvm use $RUBY_VERSION
    gem install fpm
    sudo apt-get -y install rpm
    make deb
    make rpm
    cp dist/*.deb deploy/
    cp dist/*.rpm deploy/
  fi

deploy:
  - provider: s3
    access_key_id:
      secure: "BF8MzSC8nbE0APb3GZ2KRYxCa22tpbs3Ekb7Ly43YJyZeH1/3LzEbtKuMJ5atgNiz3QQ/m3KxMEpjqq/h240fYRwZ41EMYcUXQ5E9BLO3NtbHbATPXJSMTK3NHVy8QipkQyiZnBbuiei0DpXSskJBHP4b6X8RdVAiXWRSN5TMLoYMu/IFPT1CZQCPIsixRh0m7RW72UH5ULF83ScUO1uvkxJnwxmGwQxDwgRFmI43yIgoH5TNMTN7sk7OW/nmuCi/3b1Swzm7LGO+27TydyQ92SpZb26IKhr8/gcOl8Xq3WnRL+RgUKvri4ulX5sevrVyDdmiZNi/nB9BWlRoHJFJvkBTi0shDP2obGje/UZVVUGLB83xMMfovkR9yYYOYJcqX0OgIQEC/n5WC/DBN9K/Zamsm1hwtVRO0fB7/7EsttjbIJ2Jm10U9INwQxtOW2N6l24ey+hCRJFZcqFFuMwmY+CHc/InetclonRShgDSKUEZlEdwsFsLYstZMhXm7HMPudauo9CcOGNJEy4ajcXP8HCEuQ27QYwnc/1gg8x9ezzza60pwCQ0cvKzFfvlwaRgjnINAOaYqvWeiG1TVoPYR3LvKZYv0uX5amKbrB5CT1V9iC+HvBhzzNZfntB+DILBE5miLZ3o6UsZUI8cziFcGOFJCZkBoKaAFfbRMVGO7U="
    secret_access_key:
      secure: "vk6wRG52tpQuD7YlazGYyM7RZ5QC8zdCBYrfUqHZ4tVl7r1dwbl3eD736TqaZo0qoRZN6bSKks3Rsb5w+qlsqiEPDxoBZ/2Fz3scLklrMkSncmxaibCsz+c7KrePmYCc0LjfB7Tr+mXpMQHZNHk7wAg0YUcGnMnjUM0IIC1b0kA/LnNhWnP3geOaxar6qegNr7PtWcPKHzyHwIpcGrNfjs2UQfIKYe8gYaTTs9PRTiEaw8ogKhHcqVf3gvfeTxBnb6sdO4/7bH9bWDAC7O8Dic0x8x52vDwL6hxKYTB+dQlqtNmm3GxmwA5QCdRvR47SUmAoZ+zo0dja6cT7fzKa4cEY4TothNqqOAssqFnBAoxNGH2C1ocNFb5D6K2puUgjgQqXue5hj3WuCjk3u8zcQVSzlrftzVuFtEWj9TA9grNty+OzV2qKmbHx8GW4oBBLSZ8IRspCnomS7j3HjyI6GAsaG067ESsMEhF3hoOkZiIeTvk52/tBIvN8Whl99F/2Oe89AULewfPGR+rAQN/g65yo2StNjMQf0OWg1oQvHwufiFlcGjftAWV0vW/m87fA6ScVjKQvWXuVWvSQwcrLCTlbjZodN0/lpFiky49Cx5vHOikcNwBIzogjHNWEJhNmyLTVHGyuLUJSGz1QIsguHMRrXsFU1bgS5X428/PSRtY="
    bucket: ci-artifacts.counterflowai.com
    skip_cleanup: true
    region: us-east-1
    local_dir: deploy
    on:
      repo: counterflow-ai/evebox
      branch: master
    acl: public_read
    upload-dir: master
  - provider: s3
    access_key_id:
      secure: "BF8MzSC8nbE0APb3GZ2KRYxCa22tpbs3Ekb7Ly43YJyZeH1/3LzEbtKuMJ5atgNiz3QQ/m3KxMEpjqq/h240fYRwZ41EMYcUXQ5E9BLO3NtbHbATPXJSMTK3NHVy8QipkQyiZnBbuiei0DpXSskJBHP4b6X8RdVAiXWRSN5TMLoYMu/IFPT1CZQCPIsixRh0m7RW72UH5ULF83ScUO1uvkxJnwxmGwQxDwgRFmI43yIgoH5TNMTN7sk7OW/nmuCi/3b1Swzm7LGO+27TydyQ92SpZb26IKhr8/gcOl8Xq3WnRL+RgUKvri4ulX5sevrVyDdmiZNi/nB9BWlRoHJFJvkBTi0shDP2obGje/UZVVUGLB83xMMfovkR9yYYOYJcqX0OgIQEC/n5WC/DBN9K/Zamsm1hwtVRO0fB7/7EsttjbIJ2Jm10U9INwQxtOW2N6l24ey+hCRJFZcqFFuMwmY+CHc/InetclonRShgDSKUEZlEdwsFsLYstZMhXm7HMPudauo9CcOGNJEy4ajcXP8HCEuQ27QYwnc/1gg8x9ezzza60pwCQ0cvKzFfvlwaRgjnINAOaYqvWeiG1TVoPYR3LvKZYv0uX5amKbrB5CT1V9iC+HvBhzzNZfntB+DILBE5miLZ3o6UsZUI8cziFcGOFJCZkBoKaAFfbRMVGO7U="
    secret_access_key:
      secure: "vk6wRG52tpQuD7YlazGYyM7RZ5QC8zdCBYrfUqHZ4tVl7r1dwbl3eD736TqaZo0qoRZN6bSKks3Rsb5w+qlsqiEPDxoBZ/2Fz3scLklrMkSncmxaibCsz+c7KrePmYCc0LjfB7Tr+mXpMQHZNHk7wAg0YUcGnMnjUM0IIC1b0kA/LnNhWnP3geOaxar6qegNr7PtWcPKHzyHwIpcGrNfjs2UQfIKYe8gYaTTs9PRTiEaw8ogKhHcqVf3gvfeTxBnb6sdO4/7bH9bWDAC7O8Dic0x8x52vDwL6hxKYTB+dQlqtNmm3GxmwA5QCdRvR47SUmAoZ+zo0dja6cT7fzKa4cEY4TothNqqOAssqFnBAoxNGH2C1ocNFb5D6K2puUgjgQqXue5hj3WuCjk3u8zcQVSzlrftzVuFtEWj9TA9grNty+OzV2qKmbHx8GW4oBBLSZ8IRspCnomS7j3HjyI6GAsaG067ESsMEhF3hoOkZiIeTvk52/tBIvN8Whl99F/2Oe89AULewfPGR+rAQN/g65yo2StNjMQf0OWg1oQvHwufiFlcGjftAWV0vW/m87fA6ScVjKQvWXuVWvSQwcrLCTlbjZodN0/lpFiky49Cx5vHOikcNwBIzogjHNWEJhNmyLTVHGyuLUJSGz1QIsguHMRrXsFU1bgS5X428/PSRtY="
    bucket: ci-artifacts.counterflowai.com
    skip_cleanup: true
    region: us-east-1
    local_dir: deploy
    on:
      repo: counterflow-ai/evebox
      branch: develop
    acl: public_read
    upload-dir: develop
  - provider: s3
    access_key_id:
      secure: "BF8MzSC8nbE0APb3GZ2KRYxCa22tpbs3Ekb7Ly43YJyZeH1/3LzEbtKuMJ5atgNiz3QQ/m3KxMEpjqq/h240fYRwZ41EMYcUXQ5E9BLO3NtbHbATPXJSMTK3NHVy8QipkQyiZnBbuiei0DpXSskJBHP4b6X8RdVAiXWRSN5TMLoYMu/IFPT1CZQCPIsixRh0m7RW72UH5ULF83ScUO1uvkxJnwxmGwQxDwgRFmI43yIgoH5TNMTN7sk7OW/nmuCi/3b1Swzm7LGO+27TydyQ92SpZb26IKhr8/gcOl8Xq3WnRL+RgUKvri4ulX5sevrVyDdmiZNi/nB9BWlRoHJFJvkBTi0shDP2obGje/UZVVUGLB83xMMfovkR9yYYOYJcqX0OgIQEC/n5WC/DBN9K/Zamsm1hwtVRO0fB7/7EsttjbIJ2Jm10U9INwQxtOW2N6l24ey+hCRJFZcqFFuMwmY+CHc/InetclonRShgDSKUEZlEdwsFsLYstZMhXm7HMPudauo9CcOGNJEy4ajcXP8HCEuQ27QYwnc/1gg8x9ezzza60pwCQ0cvKzFfvlwaRgjnINAOaYqvWeiG1TVoPYR3LvKZYv0uX5amKbrB5CT1V9iC+HvBhzzNZfntB+DILBE5miLZ3o6UsZUI8cziFcGOFJCZkBoKaAFfbRMVGO7U="
    secret_access_key:
      secure: "vk6wRG52tpQuD7YlazGYyM7RZ5QC8zdCBYrfUqHZ4tVl7r1dwbl3eD736TqaZo0qoRZN6bSKks3Rsb5w+qlsqiEPDxoBZ/2Fz3scLklrMkSncmxaibCsz+c7KrePmYCc0LjfB7Tr+mXpMQHZNHk7wAg0YUcGnMnjUM0IIC1b0kA/LnNhWnP3geOaxar6qegNr7PtWcPKHzyHwIpcGrNfjs2UQfIKYe8gYaTTs9PRTiEaw8ogKhHcqVf3gvfeTxBnb6sdO4/7bH9bWDAC7O8Dic0x8x52vDwL6hxKYTB+dQlqtNmm3GxmwA5QCdRvR47SUmAoZ+zo0dja6cT7fzKa4cEY4TothNqqOAssqFnBAoxNGH2C1ocNFb5D6K2puUgjgQqXue5hj3WuCjk3u8zcQVSzlrftzVuFtEWj9TA9grNty+OzV2qKmbHx8GW4oBBLSZ8IRspCnomS7j3HjyI6GAsaG067ESsMEhF3hoOkZiIeTvk52/tBIvN8Whl99F/2Oe89AULewfPGR+rAQN/g65yo2StNjMQf0OWg1oQvHwufiFlcGjftAWV0vW/m87fA6ScVjKQvWXuVWvSQwcrLCTlbjZodN0/lpFiky49Cx5vHOikcNwBIzogjHNWEJhNmyLTVHGyuLUJSGz1QIsguHMRrXsFU1bgS5X428/PSRtY="
    bucket: ci-artifacts.counterflowai.com
    skip_cleanup: true
    region: us-east-1
    local_dir: deploy
    on:
      repo: counterflow-ai/evebox
      branch: release-staging
    acl: public_read
    upload-dir: release-staging
  - provider: s3
    access_key_id:
      secure: "BF8MzSC8nbE0APb3GZ2KRYxCa22tpbs3Ekb7Ly43YJyZeH1/3LzEbtKuMJ5atgNiz3QQ/m3KxMEpjqq/h240fYRwZ41EMYcUXQ5E9BLO3NtbHbATPXJSMTK3NHVy8QipkQyiZnBbuiei0DpXSskJBHP4b6X8RdVAiXWRSN5TMLoYMu/IFPT1CZQCPIsixRh0m7RW72UH5ULF83ScUO1uvkxJnwxmGwQxDwgRFmI43yIgoH5TNMTN7sk7OW/nmuCi/3b1Swzm7LGO+27TydyQ92SpZb26IKhr8/gcOl8Xq3WnRL+RgUKvri4ulX5sevrVyDdmiZNi/nB9BWlRoHJFJvkBTi0shDP2obGje/UZVVUGLB83xMMfovkR9yYYOYJcqX0OgIQEC/n5WC/DBN9K/Zamsm1hwtVRO0fB7/7EsttjbIJ2Jm10U9INwQxtOW2N6l24ey+hCRJFZcqFFuMwmY+CHc/InetclonRShgDSKUEZlEdwsFsLYstZMhXm7HMPudauo9CcOGNJEy4ajcXP8HCEuQ27QYwnc/1gg8x9ezzza60pwCQ0cvKzFfvlwaRgjnINAOaYqvWeiG1TVoPYR3LvKZYv0uX5amKbrB5CT1V9iC+HvBhzzNZfntB+DILBE5miLZ3o6UsZUI8cziFcGOFJCZkBoKaAFfbRMVGO7U="
    secret_access_key:
      secure: "vk6wRG52tpQuD7YlazGYyM7RZ5QC8zdCBYrfUqHZ4tVl7r1dwbl3eD736TqaZo0qoRZN6bSKks3Rsb5w+qlsqiEPDxoBZ/2Fz3scLklrMkSncmxaibCsz+c7KrePmYCc0LjfB7Tr+mXpMQHZNHk7wAg0YUcGnMnjUM0IIC1b0kA/LnNhWnP3geOaxar6qegNr7PtWcPKHzyHwIpcGrNfjs2UQfIKYe8gYaTTs9PRTiEaw8ogKhHcqVf3gvfeTxBnb6sdO4/7bH9bWDAC7O8Dic0x8x52vDwL6hxKYTB+dQlqtNmm3GxmwA5QCdRvR47SUmAoZ+zo0dja6cT7fzKa4cEY4TothNqqOAssqFnBAoxNGH2C1ocNFb5D6K2puUgjgQqXue5hj3WuCjk3u8zcQVSzlrftzVuFtEWj9TA9grNty+OzV2qKmbHx8GW4oBBLSZ8IRspCnomS7j3HjyI6GAsaG067ESsMEhF3hoOkZiIeTvk52/tBIvN8Whl99F/2Oe89AULewfPGR+rAQN/g65yo2StNjMQf0OWg1oQvHwufiFlcGjftAWV0vW/m87fA6ScVjKQvWXuVWvSQwcrLCTlbjZodN0/lpFiky49Cx5vHOikcNwBIzogjHNWEJhNmyLTVHGyuLUJSGz1QIsguHMRrXsFU1bgS5X428/PSRtY="
    bucket: ci-artifacts.counterflowai.com
    skip_cleanup: true
    region: us-east-1
    local_dir: deploy
    on:
      repo: counterflow-ai/evebox
      branch: release
    acl: public_read
    upload-dir: release
  - provider: script
    script:
      if [ '$TRAVIS_OS_NAME' != 'osx' ]; then 
        docker build -t ${DOCKER_REPO}:latest ./docker/release-master && 
        docker tag ${DOCKER_REPO}:latest ${DOCKER_REPO}:master && 
        docker login -u "${DOCKER_USERNAME}" -p "${DOCKER_PASSWORD}" && 
        docker push ${DOCKER_REPO};
      fi
    on:
      repo: satie/evebox
      branch: master
